@import "font.css";


/* 

! Variables

*/

:root{
    --light-blue: #00a9f7;
    --bright-aqua: #38fff2;
    --main-bg: rgba(255, 255, 255, 0.3);
    --main-app: rgba(255, 255, 255, 0.6);
    --dark-blue: #023047;
    --light-green: #58ff68;
    --orange: #fb8501;
 }
 

/* 

! Reset

*/

html{
    box-sizing: border-box;
    font-size: 10px;
}

*,
::after,
::before{
    box-sizing: inherit;
    font-size: inherit;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
   padding: 0;
}

textarea{
    font-family: "Kumbh Sans", sans-serif;
    outline: none;
    color: inherit;
    border: none;
    resize:none
}

button{
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}
ul{
    list-style-type: none;
}


body{
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(--bright-aqua),var(--light-blue));
    min-height: 100vh;
    backdrop-filter: blur(10px);
    color: var(--dark-blue);
}



/* 

* App Css

*/

/* ? MAin */

.main{
    background-color: var(--main-bg);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 2rem;
    padding: 2rem;
    width: 40rem;
    max-height: 50rem;
}



.form{
    background-color: var(--main-app);
    position: relative;
    min-height: 10rem;
    border-radius: 1rem;
    padding: 1rem;
}
.toDoList_title{
    font-size: 2rem;
}
#toDoList_text{
    background-color: transparent;
    display: block;
    width: 25rem;
    height: 6rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    scrollbar-width: none; 
    font-weight: 600; 
}
.toDoList_btn{
    position: absolute;
    background-color: var(--dark-blue);
    color: #fefefe;
    border-radius: 1rem;
    display: block;
    padding: 1.5rem;
    font-size: 1.5rem;
    right: 10px;
    bottom: 10px;
}
.toDoList_list{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 35rem;
    overflow-y: scroll;
    scrollbar-width: none;  
}
.toDoList_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-app);
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    min-height: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.toDoList_task{
    width: 100%;
    text-align: left;
}

.check-svg{
    margin-right: 1.8rem;
}
.delete-svg{
    margin-left: 1.8rem;
}

.check-svg,
.delete-svg{
    cursor: pointer;
}


.checked{
    background-color: var(--light-green);
}


/* 

! Copyright

*/

.copyright__weapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-weight: 700;
}
.copyright{
    font-size: 1.3rem;
}
.github__link{
    
}



